
<table style="text-align:center"><caption><strong>Tablac de resultados de los tres modelos</strong></caption>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="3"></td></tr>
<tr><td style="text-align:left"></td><td><em>OLS</em></td><td><em>probit</em></td><td><em>logistic</em></td></tr>
<tr><td style="text-align:left"></td><td>Ols</td><td>Probit</td><td>Logit</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">dist_vias</td><td>-0.00001<sup>*</sup></td><td>-0.00003</td><td>-0.0001<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.00001)</td><td>(0.00002)</td><td>(0.00004)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">dist_cpoblado</td><td>-0.00001</td><td>-0.00003</td><td>-0.00005</td></tr>
<tr><td style="text-align:left"></td><td>(0.00001)</td><td>(0.00002)</td><td>(0.00004)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">dist_hospi</td><td>0.000003</td><td>0.00001</td><td>0.00002</td></tr>
<tr><td style="text-align:left"></td><td>(0.00001)</td><td>(0.00002)</td><td>(0.00004)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">year</td><td>-0.0045</td><td>-0.0175</td><td>-0.0324</td></tr>
<tr><td style="text-align:left"></td><td>(0.0035)</td><td>(0.0138)</td><td>(0.0246)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">month</td><td>0.0008</td><td>-0.0008</td><td>-0.0017</td></tr>
<tr><td style="text-align:left"></td><td>(0.0044)</td><td>(0.0167)</td><td>(0.0287)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(tipo_accidente)Accidente por MUSE</td><td>-0.1349</td><td>-4.7033</td><td>-15.7139</td></tr>
<tr><td style="text-align:left"></td><td>(0.2315)</td><td>(516.0285)</td><td>(2,143.7760)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(genero)Masculino</td><td>0.1514<sup>*</sup></td><td>1.1715<sup>**</sup></td><td>2.0965<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.0836)</td><td>(0.5791)</td><td>(1.1734)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(genero)Sin Información</td><td>0.5824<sup>**</sup></td><td>2.3612<sup>**</sup></td><td>4.0296<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.2417)</td><td>(0.9522)</td><td>(1.7124)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(condicion)Fuerza pública</td><td>0.1344</td><td>0.4889</td><td>0.8406</td></tr>
<tr><td style="text-align:left"></td><td>(0.0923)</td><td>(0.3402)</td><td>(0.5926)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Agricultura</td><td>0.1124</td><td>0.8350</td><td>1.4405</td></tr>
<tr><td style="text-align:left"></td><td>(0.1494)</td><td>(0.7352)</td><td>(1.4279)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Área Despejada</td><td>-0.1675</td><td>-4.0023</td><td>-14.8413</td></tr>
<tr><td style="text-align:left"></td><td>(0.4126)</td><td>(973.4984)</td><td>(3,956.1800)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Cuidado de animales</td><td>-0.0268</td><td>-3.7733</td><td>-14.1353</td></tr>
<tr><td style="text-align:left"></td><td>(0.2311)</td><td>(449.0837)</td><td>(1,845.8490)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Erradicador manual - PCI</td><td>0.0673</td><td>0.8301</td><td>1.4363</td></tr>
<tr><td style="text-align:left"></td><td>(0.1358)</td><td>(0.6589)</td><td>(1.2723)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Fuerza pública</td><td>0.1313</td><td>1.0131<sup>*</sup></td><td>1.8015<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.0842)</td><td>(0.5290)</td><td>(1.0666)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Jugando</td><td>0.0356</td><td>-3.3782</td><td>-13.6156</td></tr>
<tr><td style="text-align:left"></td><td>(0.2577)</td><td>(547.7084)</td><td>(2,241.8450)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Manipulación</td><td>0.6164<sup>*</sup></td><td>7.2328</td><td>20.1390</td></tr>
<tr><td style="text-align:left"></td><td>(0.3468)</td><td>(516.0296)</td><td>(2,143.7770)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Pasando, estando cerca</td><td>0.1259</td><td>1.0339</td><td>1.8149</td></tr>
<tr><td style="text-align:left"></td><td>(0.1298)</td><td>(0.6462)</td><td>(1.2510)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Recogiendo comida, agua ó madera</td><td>0.0200</td><td>0.2688</td><td>0.3927</td></tr>
<tr><td style="text-align:left"></td><td>(0.1423)</td><td>(0.7785)</td><td>(1.5756)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Sin Información</td><td>0.0823</td><td>0.8452</td><td>1.5041</td></tr>
<tr><td style="text-align:left"></td><td>(0.1147)</td><td>(0.5948)</td><td>(1.1632)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Trabajos de casa</td><td>-0.0479</td><td>-3.6250</td><td>-14.0566</td></tr>
<tr><td style="text-align:left"></td><td>(0.2718)</td><td>(561.8059)</td><td>(2,279.4720)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Transito por trocha atajo</td><td>0.4305<sup>**</sup></td><td>2.1787<sup>**</sup></td><td>3.6233<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.2159)</td><td>(0.8610)</td><td>(1.5559)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Transito por via usual</td><td>0.0546</td><td>-3.3494</td><td>-13.2850</td></tr>
<tr><td style="text-align:left"></td><td>(0.1875)</td><td>(267.7119)</td><td>(1,124.3580)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(actividad)Viajando</td><td>0.0018</td><td>-3.3917</td><td>-13.7573</td></tr>
<tr><td style="text-align:left"></td><td>(0.4169)</td><td>(973.4985)</td><td>(3,956.1800)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54003</td><td>-0.5606<sup>**</sup></td><td>-2.2817<sup>**</sup></td><td>-3.9133<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.2261)</td><td>(0.9549)</td><td>(1.7029)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54051</td><td>-0.7873<sup>**</sup></td><td>-7.2672</td><td>-20.2820</td></tr>
<tr><td style="text-align:left"></td><td>(0.3529)</td><td>(657.2310)</td><td>(2,700.8440)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54109</td><td>-0.8521<sup>***</sup></td><td>-7.2946</td><td>-20.5697</td></tr>
<tr><td style="text-align:left"></td><td>(0.2623)</td><td>(367.7466)</td><td>(1,494.9100)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54206</td><td>-0.6084<sup>***</sup></td><td>-2.5213<sup>***</sup></td><td>-4.3770<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.2206)</td><td>(0.9274)</td><td>(1.6517)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54239</td><td>0.6062</td><td>10.3034</td><td>33.3684</td></tr>
<tr><td style="text-align:left"></td><td>(0.5137)</td><td>(1,101.8100)</td><td>(4,499.6820)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54245</td><td>-0.5546<sup>**</sup></td><td>-2.2565<sup>**</sup></td><td>-3.9263<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.2320)</td><td>(0.9736)</td><td>(1.7422)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54250</td><td>-0.5663<sup>**</sup></td><td>-2.3072<sup>**</sup></td><td>-3.9392<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.2200)</td><td>(0.9196)</td><td>(1.6334)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54261</td><td>-0.6926<sup>**</sup></td><td>-7.0551</td><td>-19.5828</td></tr>
<tr><td style="text-align:left"></td><td>(0.2867)</td><td>(397.6838)</td><td>(1,668.0570)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54344</td><td>-0.5786<sup>***</sup></td><td>-2.3652<sup>***</sup></td><td>-4.0771<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.2193)</td><td>(0.9164)</td><td>(1.6303)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54347</td><td>-0.8338<sup>**</sup></td><td>-7.2602</td><td>-20.4926</td></tr>
<tr><td style="text-align:left"></td><td>(0.3544)</td><td>(688.3678)</td><td>(2,797.4420)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54377</td><td>-0.7614<sup>**</sup></td><td>-6.9472</td><td>-19.9352</td></tr>
<tr><td style="text-align:left"></td><td>(0.3529)</td><td>(688.3678)</td><td>(2,797.4420)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54398</td><td>-0.5381<sup>**</sup></td><td>-2.1471<sup>**</sup></td><td>-3.7158<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.2266)</td><td>(0.9398)</td><td>(1.6668)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54498</td><td>-0.5239<sup>**</sup></td><td>-2.1358<sup>**</sup></td><td>-3.8445<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.2538)</td><td>(1.0356)</td><td>(1.8266)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54660</td><td>-0.5076</td><td>2.1704</td><td>11.1999</td></tr>
<tr><td style="text-align:left"></td><td>(0.5558)</td><td>(1,230.4350)</td><td>(5,027.2270)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54670</td><td>-0.5106<sup>**</sup></td><td>-2.1020<sup>**</sup></td><td>-3.5967<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.2196)</td><td>(0.9157)</td><td>(1.6274)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54680</td><td>-0.7786<sup>***</sup></td><td>-7.1399</td><td>-20.2025</td></tr>
<tr><td style="text-align:left"></td><td>(0.2723)</td><td>(392.6049)</td><td>(1,599.2340)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54720</td><td>-0.5177<sup>**</sup></td><td>-2.0969<sup>**</sup></td><td>-3.6456<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.2254)</td><td>(0.9361)</td><td>(1.6621)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54800</td><td>-0.5131<sup>**</sup></td><td>-2.1349<sup>**</sup></td><td>-3.6355<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.2166)</td><td>(0.9059)</td><td>(1.6100)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54810</td><td>-0.4188<sup>*</sup></td><td>-1.7948<sup>**</sup></td><td>-3.0779<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.2171)</td><td>(0.9082)</td><td>(1.6126)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">as.factor(cod_mpio)54820</td><td>-0.7347<sup>***</sup></td><td>-7.0924</td><td>-19.7335</td></tr>
<tr><td style="text-align:left"></td><td>(0.2728)</td><td>(394.2948)</td><td>(1,660.3560)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>9.4257</td><td>34.2251</td><td>63.3865</td></tr>
<tr><td style="text-align:left"></td><td>(7.0271)</td><td>(27.8793)</td><td>(49.7503)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"><em>N</em></td><td>874</td><td>874</td><td>874</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.1173</td><td></td><td></td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.0715</td><td></td><td></td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td></td><td>-389.8512</td><td>-389.7460</td></tr>
<tr><td style="text-align:left">Akaike Inf. Crit.</td><td></td><td>867.7024</td><td>867.4920</td></tr>
<tr><td style="text-align:left">Residual Std. Error</td><td>0.3931</td><td></td><td></td></tr>
<tr><td style="text-align:left">F Statistic</td><td>2.5644<sup>***</sup></td><td></td><td></td></tr>
<tr><td colspan="4" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Notes:</em></td><td colspan="3" style="text-align:right"><sup>***</sup>Significant at the 1 percent level.</td></tr>
<tr><td style="text-align:left"></td><td colspan="3" style="text-align:right"><sup>**</sup>Significant at the 5 percent level.</td></tr>
<tr><td style="text-align:left"></td><td colspan="3" style="text-align:right"><sup>*</sup>Significant at the 10 percent level.</td></tr>
</table>
